<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/apps/2.1/sdk.js"></script>

    <script type="text/javascript">
      function refresh_feature() {
        Rally.getApp('ZzacksFeatureDashboardApp').refresh();
      }

      function refresh_initiative() {
        Rally.getApp('ZzacksInitiativeDashboardApp').refresh();
      }

      function refresh_all_work() {
        Rally.getApp('ZzacksAllWorkDashboardApp').refresh();
      }

      function refresh_weekly() {
        Rally.getApp('ZzacksWeeklyThroughputDashboardApp').refresh();
      }

      function load_menu() {
        var b = document.getElementById("the_body");
        b.innerHTML = "<!-- put the menu here -->";
      }

      Rally.onReady(function () {
        // put the dashboards here
      });
    </script>

    <style type="text/css">
      /* put the style here */
    </style>
  </head>
  <body id="the_body" onload="load_menu()">
  </body>
</html>
