<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/apps/2.1/sdk.js"></script>

    <script type="text/javascript">
      function launch_app(app_name) {
        if (!Rally.getApp(app_name)) {
          Rally.launchApp(app_name);
        } else {
          Rally.getApp(app_name).disable();
          Rally.launchApp(app_name);
        }
      }

      function refresh_feature() {
        Rally.getApp('ZzacksFeatureDashboardApp').refresh();
      }

      function refresh_initiative() {
        Rally.getApp('ZzacksInitiativeDashboardApp').refresh();
      }

      function refresh_all_work() {
        Rally.getApp('ZzacksAllWorkDashboardApp').refresh();
      }

      function refresh_weekly() {
        Rally.getApp('ZzacksWeeklyThroughputDashboardApp').refresh();
      }

      function refresh_scope_change() {
        Rally.getApp('ZzacksScopeChangeDashboardApp').refresh();
      }

      function refresh_feature_complete() {
        Rally.getApp('ZzacksFeatureCompleteDashboardApp').refresh();
      }

      function load_menu() {
        var b = document.getElementById("the_body");
        b.innerHTML = "<!-- put the menu here -->";
      }

      function set_timebox(ts) {
        // Rally.getApp('ZzacksFeatureDashboardApp').getContext().setTimeboxScope(ts);
        // Rally.getApp('ZzacksInitiativeDashboardApp').getContext().setTimeboxScope(ts);
        // Rally.getApp('ZzacksAllWorkDashboardApp').getContext().setTimeboxScope(ts);
        // Rally.getApp('ZzacksWeeklyThroughputDashboardApp').getContext().setTimeboxScope(ts);
      }

      Rally.onReady(function () {
        // put the dashboards here
      });
    </script>

    <style type="text/css">
      /* put the style here */
    </style>
  </head>
  <body id="the_body" onload="load_menu()">
  </body>
</html>
