<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/apps/2.1/sdk.js"></script>

    <script type="text/javascript">
      function toggle_big_table() {
        var t = document.getElementById("big_table");
        var l = document.getElementById("toggle_link");
        if (t.style.display == "inline") {
          t.style.display = "none";
          l.innerHTML = "Show all stories";
        } else {
          t.style.display = "inline";
          l.innerHTML = "Hide all stories";
        }
      }

      function refresh_team() {
        Rally.getApp('ZzacksTeamDashboardApp').refresh();
      }

      function refresh_all_work() {
        Rally.getApp('ZzacksAllWorkDashboardApp').refresh();
      }

      function refresh_weekly() {
        Rally.getApp('ZzacksWeeklyThroughputDashboardApp').refresh();
      }

      function refresh_cumulative_work() {
        Rally.getApp('ZzacksCumulativeworkDashboardApp').refresh();
      }

      function load_menu() {
        var b = document.getElementById("the_body");
        b.innerHTML = "<!-- put the menu here -->";
      }

      Rally.onReady(function () {
        // put the dashboards here
      });
    </script>

    <style type="text/css">
      /* put the style here */
    </style>
  </head>
  <body id="the_body" onload="load_menu()">
  </body>
</html>
