<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/apps/2.1/sdk.js"></script>

    <script type="text/javascript">
      var master_release;

      function toggle_iteration_settings() {
        var l = document.getElementById("iteration_toggle_link");
        if (l.innerHTML == "Show iteration selector") {
          Rally.getApp('ZzacksTeamProgressDashboardApp').settings_container.show();
          l.innerHTML = "Hide iteration selector";
        } else {
          Rally.getApp('ZzacksTeamProgressDashboardApp').settings_container.hide();
          l.innerHTML = "Show iteration selector";
        }
      }

      function refresh_team() {
        Rally.getApp('ZzacksTeamDashboardApp').refresh();
      }

      function close_team() {
        Rally.destroyApp('ZzacksTeamDashboardApp');
        load_menu();
      }

      function refresh_all_work() {
        Rally.getApp('ZzacksAllWorkDashboardApp').refresh();
      }

      function close_all_work() {
        Rally.destroyApp('ZzacksAllWorkDashboardApp');
        load_menu();
      }

      function refresh_weekly() {
        Rally.getApp('ZzacksWeeklyThroughputDashboardApp').refresh();
      }

      function close_weekly() {
        Rally.destroyApp('ZzacksWeeklyThroughputDashboardApp');
        load_menu();
      }

      function refresh_cumulative_work() {
        Rally.getApp('ZzacksCumulativeWorkDashboardApp').refresh();
      }

      function close_cumulative_work() {
        Rally.destroyApp('ZzacksCumulativeWorkDashboardApp');
        load_menu();
      }

      function refresh_team_progress() {
        Rally.getApp('ZzacksTeamProgressDashboardApp').refresh();
      }

      function close_team_progress() {
        Rally.destroyApp('ZzacksTeamProgressDashboardApp');
        load_menu();
      }

      function refresh_feature_complete() {
        Rally.getApp('ZzacksFeatureCompleteDashboardApp').refresh();
      }

      function close_feature_complete() {
        Rally.destroyApp('ZzacksFeatureCompleteDashboardApp');
        load_menu();
      }

      function load_menu() {
        var b = document.getElementById("the_body");
        b.innerHTML = "<!-- put the menu here -->";
      }

      Rally.onReady(function () {
        // put the dashboards here
      });
    </script>

    <style type="text/css">
      /* put the style here */
    </style>
  </head>
  <body id="the_body" onload="load_menu()">
  </body>
</html>
